.App {
  text-align: center;
}

.game-header {
  flex: 1;
}
.game-body {
  flex: 4;
  flex-direction: column;
}

h1 {
  color: white;
  font-family: serif;
  font-weight: bold;
  font-size: 58px;
}

h2,
h3 {
  color: white;
  font-family: serif;
  font-weight: bold;
  font-size: 40px;
}

.cross-board-input {
  width: 75px;
  height: 75px;
  font-size: 48px;
  text-align: center;
}

.keys {
  text-align: center;
  margin: auto;
}

.subbox {
  width: 80px;
  height: 32px;
  font-size: 16px;
  text-align: center;
}

.numbox {
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-align: center;
}

.square {
  float: left;
  display: flex;
  width: 50px;
  height: 50px;
  background-color: grey;
}

.text {
  margin: center;
  font-size: 30px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100px;
  min-width: none;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 0.5;
} */

.App-link {
  color: #61dafb;
}

.Play-button {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body {
  display: flex;
  height: 100vh;

  align-items: center;
  justify-content: center;
} */

.btn-liquid {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 60px;

  border-radius: 27px;

  color: #fff;
  font: 700 14px/60px "Droid Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-liquid .inner {
  position: relative;

  z-index: 2;
}

.btn-liquid canvas {
  position: fixed;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;

  z-index: 1;
}
.square-guesses {
  border-radius: 2px;
  border-color: black;
}

.inline-block-child {
  display: inline-block;
  border-radius: 22px;
  width: 83px;
  height: 83px;
  font-size: 70px;
  text-align: center;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 550;
}

.keyboard {
  display: inline-block;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 400;
  background-color: white;
}

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
}

li {
}
ul {
  padding-left: 6%;
  letter-spacing: 50px;
  list-style-type: none; /* Remove bullets */
  border: solid;
  border-radius: 0px;
  border-color: black;
  /* padding: 0; Remove padding */
  /* margin: 0; Remove margins */
}
.circle-1 {
  position: fixed;
  width: 200px;
  height: 200px;
  background-color: #ffc6ff;
  border-radius: 50%;
}

.circle-2 {
  position: fixed;
  width: 250px;
  height: 250px;
  background: #ffadad;
  border-radius: 50%;
  margin-left: 75%;
  margin-top: 25%;
}
.circle-3 {
  position: fixed;
  width: 350px;
  height: 350px;
  background: #a0c4ff;
  border-radius: 50%;
  margin-left: -10%;
  margin-top: 20%;
}
.circle-4 {
  position: fixed;
  width: 500px;
  height: 500px;
  background: #caffbf;
  border-radius: 50%;
  margin-left: 80%;
  margin-right: -40%;
  margin-top: -20%;
}
.circle-5 {
  position: fixed;
  width: 150px;
  height: 150px;
  background: #fdffb6;
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 40%;
}
.circle-6 {
  z-index: -1;
  position: fixed;
  width: 100px;
  height: 100px;
  background: #fffffc;
  border-radius: 50%;
  margin-left: 35%;
  margin-top: 20%;
}
.circle-7 {
  z-index: -1;
  position: fixed;
  width: 200px;
  height: 200px;
  background: #ffd6a5;
  border-radius: 50%;
  margin-left: 25%;
  margin-top: 8%;
}
.circle-8 {
  z-index: -1;
  position: fixed;
  width: 80px;
  height: 80px;
  background: #a0c4ff;
  border-radius: 50%;
  margin-left: 75%;
  margin-top: 10%;
}
.circle-4 {
  position: fixed;
  width: 500px;
  height: 500px;
  background: #caffbf;
  border-radius: 50%;
  margin-left: 80%;
  margin-right: -40%;
  margin-top: -20%;
}
.circle-5 {
  position: fixed;
  width: 150px;
  height: 150px;
  background: #fdffb6;
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 40%;
}
.circle-6 {
  z-index: -1;
  position: fixed;
  width: 100px;
  height: 100px;
  background: #fffffc;
  border-radius: 50%;
  margin-left: 38%;
  margin-top: 22%;
}
.circle-9 {
  z-index: -1;
  position: fixed;
  width: 200px;
  height: 200px;
  background: #bdb2ff;
  border-radius: 50%;
  margin-left: 55%;
  margin-top: 10%;
}
.circle-10 {
  z-index: -1;
  position: fixed;
  width: 200px;
  height: 200px;
  background: #caffbf;
  border-radius: 50%;
  margin-left: 45%;
  margin-top: 30%;
}
.circle-11 {
  z-index: -1;
  position: fixed;
  width: 50px;
  height: 50px;
  background: #bdb2ff;
  border-radius: 50%;
  margin-left: 35%;
  margin-top: 35%;
}
.circle-12 {
  z-index: -1;
  position: fixed;
  width: 100px;
  height: 100px;
  background: #fdffb6;
  border-radius: 50%;
  margin-left: 65%;
  margin-top: 30%;
}
.circle-13 {
  z-index: -1;
  position: fixed;
  width: 150px;
  height: 150px;
  background: #9bf6ff;
  border-radius: 50%;
  margin-left: 90%;
  margin-top: 15%;
}
.circle-14 {
  z-index: -1;
  position: fixed;
  width: 100px;
  height: 100px;
  background: #ffadad;
  border-radius: 50%;
  margin-left: 25%;
  margin-top: 30%;
}
.circle-15 {
  z-index: -1;
  position: fixed;
  width: 200px;
  height: 200px;
  background: #ffc6ff;

  border-radius: 50%;
  margin-left: 65%;
  margin-top: 40%;
}
.circle-16 {
  z-index: -1;
  position: fixed;
  width: 150px;
  height: 150px;
  background: #9bf6ff;
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 20%;
}
.circle-17 {
  z-index: -1;
  position: fixed;
  width: 50px;
  height: 50px;
  background: #fdffb6;
  border-radius: 50%;
  margin-left: 70%;
}
.circle-18 {
  z-index: -1;
  position: fixed;
  width: 200px;
  height: 200px;
  background: #d88c9a;
  border-radius: 50%;
  margin-left: 28%;
  margin-top: 45%;
}
.circle-19 {
  z-index: -1;
  position: fixed;
  width: 400px;
  height: 400px;
  background: #bdb2ff;
  border-radius: 50%;
  margin-left: 85%;
  margin-top: 40%;
}
.circle-20 {
  z-index: -1;
  position: fixed;
  width: 100px;
  height: 100px;
  background: #ffadad;
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 5%;
}
.circles {
  z-index: -1;
  position: relative;
}
.body {
  position: relative;
}
#yin-yang {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: #eee;
  border-color: red;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
}
#yin-yang:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #eee;
  border: 18px solid red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}
#yin-yang:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: red;
  border: 18px solid #eee;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}

.button {
  z-index: 0;
  min-width: 100px;
  min-height: 50px;
  border-radius: 30px;
  font-family: serif;
  border-width: 0ch;
  font-size: larger;
  color: #ffffff;
  background-color: #1d84b5;
}
/* .modal {
  background-color: #ffffff;
  min-height: 400px;
  vertical-align: center;
  align-self: center;
} */
html {
  /* background: url(cooly3.png) no-repeat center center fixed; */
  background-color: #293132;
}
