@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
.App {
  text-align: center;
  flex: 1;
  height: 100%;
  padding: 0;
  flex-direction: column;
  font-family: "nyt-karnak";
}


.game-header {
  flex: 1;
}
.game-body {
  flex: 4;
  flex-direction: column;
}

h1 {
  color: royalblue;
  font-family: "nyt-karnak";
  font-weight: bold;
  font-size: 58px;
}

h2,
h3 {
  color: royalblue;
  font-family: serif;
  font-weight: bold;
  font-size: 40px;
}

.cross-board-input {
  width: 75px;
  height: 75px;
  font-size: 48px;
  text-align: center;
  border: 1px solid black;
}

.cross-board-input-right {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 75px;
  height: 75px;
  font-size: 48px;
  text-align: center;
}

.keys {
  text-align: center;
  margin: auto;
}

.subbox {
  width: 80px;
  height: 32px;
  font-size: 16px;
  text-align: center;
}

.numbox {
  width: 40px;
  height: 40px;
  font-size: 40px;
  text-align: center;
  position: relative;
  margin: 10px;
}

.square {
  float: left;
  display: flex;
  width: 50px;
  height: 50px;
  background-color: grey;
}

.text {
  margin: center;
  font-size: 30px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100px;
  min-width: none;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 0.5;
} */

.App-link {
  color: #61dafb;
}

.Play-button {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body {
  display: flex;
  height: 100vh;

  align-items: center;
  justify-content: center;
} */

.btn-liquid {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 60px;

  border-radius: 27px;

  color: #fff;
  font: 700 14px/60px "Droid Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-liquid .inner {
  position: relative;

  z-index: 2;
}

.btn-liquid canvas {
  position: fixed;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;

  z-index: 1;
}
.square-guesses {
  border-radius: 2px;
  border-color: black;
}

.inline-block-child {
  display: flex;
  justify-content: center;

  border-radius: 22px;
  width: 83px;
  height: 83px;
  font-size: 70px;
  text-align: center;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 550;
}

.keyboard {
  display: inline-block;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 400;
  background-color: white;
}

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
}
.button {
  margin-top: 10px;
  z-index: 0;
  min-width: 100px;
  min-height: 50px;
  border-radius: 30px;
  font-family: "nyt-karnak";
  border-width: 0ch;
  font-size: larger;
  color: #ffffff;
  background-color: #1d84b5;
}

.modal-button {
  margin: 5px;
  min-width: 100px;
  min-height: 50px;
  border-radius: 30px;
  font-family: "nyt-karnak";
  border-width: 0ch;
  font-size: larger;
  color: #ffffff;
  background-color: #1d84b5;
  font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

.modal-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-explanation-wrapper {
  flex-direction: row;
    text-align: center;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

.modal-display-answer {
  margin: 5px;
  min-width: 200px;
  min-height: 60px;
  border-radius: 30px;
  font-family: "nyt-karnak";
  border-width: 0ch;
  font-size: larger;
  color: #ffffff;
  background-color: #1d84b5;

}


.modal-answer-text {
  font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    font-weight: 700;
    margin-bottom: 0.5rem/* 8px */;
    color: #1d84b5;

}

.green {
  color: green;
}
.yellow {
  color: yellow;
}

.grey {
  color: grey;
}

.inline-block-child {
  display: inline-block;
  border-radius: 22px;
  width: 83px;
  height: 83px;
  font-size: 70px;
  text-align: center;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 550;
}