.App {
  text-align: center;
}

.game-header {
  flex: 1;
}
.game-body {
  flex: 4;
  flex-direction: column;
}

h1 {
  color: white;
  font-family: serif;
  font-weight: bold;
  font-size: 58px;
}

h2, h3 {
  color: white;
  font-family: serif;
  font-weight: bold;
  font-size: 40px;
}

.cross-board-input {
  width: 75px;
  height: 75px;
  font-size: 48px;
  text-align: center;
}

.keys {
  text-align: center;
  margin: auto;
}

.subbox {
  width: 80px;
  height: 32px;
  font-size: 16px;
  text-align: center;
}

.numbox {
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-align: center;
}

.square {
  float: left;
  display: flex;
  width: 50px;
  height: 50px;
  background-color: grey;
}

.text {
  margin: center;
  font-size: 30px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100px;
  min-width: none;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 0.5;
} */

.App-link {
  color: #61dafb;
}

.Play-button {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body {
  display: flex;
  height: 100vh;

  align-items: center;
  justify-content: center;
} */

.btn-liquid {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 60px;

  border-radius: 27px;

  color: #fff;
  font: 700 14px/60px "Droid Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-liquid .inner {
  position: relative;

  z-index: 2;
}

.btn-liquid canvas {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;

  z-index: 1;
}
.square-guesses {
  border-radius: 2px;
  border-color: black;
}

.inline-block-child {
  display: inline-block;
  border-radius: 22px;
  width: 83px;
  height: 83px;
  font-size: 70px;
  text-align: center;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 550;
}

.keyboard {
  display: inline-block;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 400;
  background-color: white;
}

li {
}
ul {
  padding-left: 6%;
  letter-spacing: 50px;
  list-style-type: none; /* Remove bullets */
  border: solid;
  border-radius: 0px;
  border-color: black;
  /* padding: 0; Remove padding */
  /* margin: 0; Remove margins */
}

html { 
  background: url(cooly3.png) no-repeat center center fixed;
}